/* ------------------------------- BACKGROUND BODY -----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&display=swap');

body {
    margin: 0;
    background: #606D7E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1A345F, #606D7E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1A345F, #606D7E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* main hrml */

    .wrapper-head {
        height: 140px;
        font-family: 'Shrikhand', cursive;
        color: darkorange;
    }
    .wrapper-text {
        height: 500px;
    }
    .text{
        font-size: 4em;
        color: black;
        font-family: 'Cabin', sans-serif;
    }
    .header {
        font-size: 5em;
    }
    .wrapper-text:hover {
        background-color: yellow;
        transition: 0.6s;
    }
    .font-cabin {
        font-family: 'Cabin', sans-serif;
    }
/* EOF Main html */


/* .start-game{
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 9px;
    -webkit-text-stroke: 3px black;
    text-align: center;
    line-height: 2em;
    letter-spacing: -1px;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    /* border-radius: 50%; */
    /* background: yellow; */
    /* cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#1A345F, .5);
    transition: width 0.9s, height 0.9s ; */
/* } */

#start-game, #stop-game, #home {
    line-height: 2em;
}

#start-game-2 {
    top: 20%
}

.div-score{
    position:absolute;
}

canvas {
    position: relative;
    z-index: 2;
    background:#EEEEEC;
    visibility: hidden;
}

#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
}

#btn{
    position: absolute;
    top: 65px;
    left: 5px;
}

.stroke {
    -webkit-text-stroke: 0.35px gray;
}